/* TaskList.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.task-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.task-list-heading{
    color: #e44d26;
    font-size: 40px;
    margin-top: 10px;
}

  
.filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    gap: 10px; /* Add gap between filters */
    /* margin-bottom: 20px; */
  }
  
  .search-input,
  .filter-select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .filter-select {
    max-width: 300px; /* Limit the maximum width of select elements */
  }
  
  .reset-button {
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
.no-task-found-btn{
    font-size: 20px;
    color: #e44d26;
    cursor: pointer;
    text-decoration: underline;
}

.task-list-container{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    /* border: 1px solid red; */
    overflow-y: auto;
}

.task-item {
    height: 230px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.task-item-container{
    height: 90%;
    overflow-y: auto;
}

.due-date-container{
    display: flex;
    align-items: center;
}

.due-date-container span{
    font-weight: 500;
    margin-right: 5px;
}

.task-item:hover {
    transform: scale(1.05);
}

.task-item h4 {
    margin-top: 0;
    color: #333;
}

.task-item p {
    color: #555;
}

.priority {
    color: #e44d26;
    font-weight: bold;
}

.actions {
    width: 15%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    padding-left: 10px;
}

.mark-done{
    position: absolute;
    bottom: -10px;
    right: 0;
    padding: 4px 6px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
    margin-right: 10px;
}

.mark-done:hover{
    color: #f26845;
}

.icons{
    cursor: pointer;
    font-size: 20px;
    color: #333;
    
}

.icons:hover {
    color: #e44d26;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: #e44d26;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.pagination-button:hover {
    background-color: #333;
}

.pagination-button:disabled {
    cursor: not-allowed;
    background-color: #ddd;
    color: #999;
}

.page-info {
    font-size: 14px;
    color: #555;
}

.completed{
    color: green;
    background: none;
    text-decoration: line-through;
    position: absolute;
    bottom: -10px;
    right: 0;
    padding: 4px 6px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
    margin-right: 10px;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
    .task-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .task-item {
        width: 100%;
    }
}

  @media screen and (max-width: 600px) {
    .filters-container {
      align-items: stretch;
    }
  
    .search-input,
    .filter-select {
      flex-basis: calc(50% - 5px);
      font-size: 11px;
    }
  
    .filter-by-completion-status {
      flex-basis: calc(66% - 5px);
      font-size: 10px;
    }
  
    .reset-button {
        flex-basis: calc(40% - 5px);
      margin-top: 10px;
    }

    .task-list-heading{
        /* margin-top: -20px; */
    }

    .task-list-container{
        height: 46vh;
    }
  }
  